{% load static %}
 <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login & Signup Form | CodingNepal</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        
        </div>
        <div class="form-inner">
          <form action="log" method="post" class="login">
            <div class="field">
              <input type="text" placeholder="Email Address" name="mail" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="pass" required>
            </div>
            <div class="pass-link"><a href="#">Forgot password?</a></div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Login">
            </div>
            <div class="signup-link">Not a member? <a href="{% url 'reg' %}">Signup now</a></div>
          </form>
          
          </form>
        </div>
      </div>
    </div>

    

  </body>
</html>
